body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(black, red);
    font-family: sans-serif;
}

.wrapper {
    text-align: center;
}

.text {
    color: #fff;
    letter-spacing: 1px;
    margin: 10px;
}

.form-box-login {
    width: 350px;
    background: linear-gradient(grey, white);
    border-radius: 5px;
    padding-bottom: 15px;
}

.title img {
    width: 60%;
    height: 50%;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

form input {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
}

form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: #efefef;
}

input[type="text"],
input[type="password"] {
    padding-left: 10px;
    position: relative;
    height: 35px;
    font-size: 17px;
}

input::placeholder {
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;
}

input:focus::placeholder {
    position: absolute;
    font-size: 10px;
    transition: translateY(-13px);
}

button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 30px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
}

span {
    background: #3eff37;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

form .option {
    color: #5a5a5a;
    margin: 10px 0;
    font-weight: bold;
    position: relative;
}

form .option:before {
    position: absolute;
    content: '';
    width: 37%;
    height: 2px;
    background: darkslategray;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

form .option:after {
    position: absolute;
    content: '';
    width: 37%;
    height: 2px;
    background: darkslategrey;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.fblink {
    margin-top: 15px;
    width: 100%;
}

.fblink span {
    font-size: 18px;
    color: #021897;
    margin-right: 5px;
}

.fblink a {
    text-decoration: none;
    font-weight: bold;
    color: #021897;
}

.forget-id {
    margin: 15px;
}

.forget-id a {
    text-decoration: none;
    color: #025fd2;
    font-size: 12px;
    font-weight: 500;
}

.page .sign-up {
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.sign-up a {
    text-decoration: none;
    margin-left: 5px;
    color: #008aff;
    font-weight: bold;
}

.check-box {
    margin: 30px 10px;
}

/*
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff6124;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px; 
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left:50px;
}
#Register{
    left: 450px;
}
*/